.face{
	float:left;
	position: relative;
	width:100px;
	margin: 0 auto;
}
#face{
	vertical-align: bottom;
}
#brain_button{
	position:absolute;
	top: 60px;
	left:185px;
	text-align: center;
	background-color:#F7882F;
	border:none;
}
.all{
	position: relative;
	left:0; 
	top:0;
}

#wobble{
	position:absolute;
	top:170px;
	left:120px;
	max-height:200px;
	width:auto;
}

#smile{
	position:absolute;
	top:150px;
	left:120px;
	max-height:200px;
	width:auto;
}

#kindnesses{
	position:absolute;
	top:80px;
}