p {
	background:#6B7A8F;
	color: white;
	font-size:18px;
	border-radius: 10px;
	padding:30px 40px;
	margin:20px 20px;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	color: #6B7A8F;
	font-family: 'Montserrat', sans-serif;
}

