.RAK_Short{
	display: none;
	position:absolute;
	top:65px;
	left:135px;
	text-align:center;
	width:240px;
	color:white;
	font-size:12px;
	font-family: helvetica;
}
.RAK_Long{
	display:none;
}

.navbar-inverse{
   color: red;
   }

.nav-item{
   color: red;
   }

.mynav-bg {
	background-color: #6B7A8F;
	opacity: 0.4;
	color: black;	
}


body{
	background-color: #87aeed;
	font-family: helvetica;
	font-style: normal;
	font-weight: 300;
	color: #6B7A8F;
}


h1 {
	color: gray;
}
