.navbar-inverse{
   color: red;
   }

.nav-item{
   color: red;
   }

.mynav-bg {
	background-color: #DCC7AA;
	opacity: 0.7;
	color: #6B7A8F;	
}

body{
	background-color: #DCC7AA;
	font-style: normal;
	font-weight: 300;
	color: #6B7A8F;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h1{
	background-color: #DCC7AA;
	width: 100%;
	margin: 50px auto; 	
	color: #6B7A8F;
	font-family: 'Montserrat', sans-serif;
}